<ng-transclude></ng-transclude>

<div class="excerpt-wrapper" ng-class="{'excerpt-uncollapsed': !collapsed}">
  <div class="excerpt"
       ng-class="excerptClass"
       ng-transclude>
  </div>
  
  <div class="excerpt-control" ng-if="showControls" ng-class="{'excerpt-bottom-gradient': bottomGradient}">
    <a ng-if="isOverflowing() && collapsed"
       ng-click="toggle()"
       class="more"
       href="">More</a>
    <a ng-if="!collapsed"
       class="less"
       ng-click="toggle()"
       href="">Less</a>
  </div>
</div>